
            <h1><%= post.titulo %></h1>
            
            <img class="foto-noticia" src="<%= post.imagem %>" alt="<%= post.titulo %>">
            <br>

            Por <%= post.autor %> - Publicado em <%= post.data %>
            <br>
            <br>

            <div class="texto-post">
                <%= post.texto %>
            </div>
            
            <div class="dica-artigo">
            <p>Gostou? Não deixe de se <a href="../home/index">cadastrar</a> para receber artigos 
            mais completos sobre este tema e muito mais ;)</p>
            </div>