
            <img class="foto-noticia" src="<%= post.imagem %>" alt="<%= post.titulo %>">
            <br>

            Por <%= post.autor %> - Publicado em <span class="post-data"><%= post.data %></span>
            <br>
            <br>

            <div class="texto-post">
                <%= post.texto %>
            </div>
            
            <div class="dica-artigo">
            <p>Gostou? Não esqueça de <a href="../home/index">cadastrar-se</a> para acessar mais artigos 
            incríveis sobre este tema e muito mais ;)</p>
            </div>